In [1]:
import pandas as pd
from utils import *

In [14]:
data_df = data_df[data_df["date"] > "2016-01-01"]

In [33]:
valid_df = data_df[data_df["volume1"] / data_df["volume0"] > 1.2]
# valid_df = data_df[data_df["volume1"] / data_df["volume0"] < 1.2]
# valid_df = valid_df[valid_df["volume1"] / valid_df["volume0"] > 1.2]
valid_df = valid_df[~yz0]
valid_df = valid_df[valid_df["last_recent"] > 2]
valid_df = valid_df[valid_df["last_recent"] < 5]
# valid_df = valid_df[(valid_df["minute"] > "10:10:00")]
valid_df = valid_df[(valid_df["minute"] < "10:30:00")]

valid_df = valid_df[valid_df["high_limit2"]/valid_df["open2"] > 1.06]
# valid_df = valid_df[valid_df["high_limit2"]/valid_df["open2"] < 1.08]
# valid_df = valid_df[valid_df["high1"] == valid_df["high_limit1"]]
# valid_df = valid_df[valid_df["close1"]/valid_df["open1"] < 0.97]
# valid_df = valid_df[valid_df["recent_high"]/valid_df["high_limit2"] > 0.8]
# valid_df = valid_df[valid_df["recent_high"]/valid_df["high_limit2"] > 0.9]
# valid_df = valid_df[valid_df["open1"]/valid_df["close0"] < 1.08]
# valid_df = valid_df[valid_df["volume_mean"]/valid_df["volume1"] < 0.4]
# valid_df = valid_df[valid_df["volume_mean"]/valid_df["volume0"] < 0.5]
# valid_df = valid_df[valid_df["minute_volume"] / valid_df["volume1"] < 0.6]
valid_df = valid_df[valid_df.top_change > 1.03]

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [34]:
valid_df = valid_df.sort_values("minute")
valid_df = valid_df.groupby("date").first()
result(valid_df)

            mean  count
recent
1.0     1.022942      4
5.0     0.997212      2
0.571428571429 7 1.01216236175

In [6]:
valid_df

,change,date,last_day,stock,close0,high0,high_limit0,low0,open0,volume0,...,minute,nearby,wave,vol5,volume_mean,recent_high,volume_high,recent_low,st,isnew
002809.XSHE_2017-06-07,1.06499,2017-06-07 00:00:00,2017-06-06 00:00:00,002809.XSHE,41.11,41.11,41.11,39.24,41.1,7249274.0,...,09:56:00,4.0,1,0.100092,3.633643e+06,61.67,10725370.0,28.3,False,1.0

In [38]:
def get_date(name):
    se = valid_df.ix[name]
    return se["change"],se["volume1"]/se["volume0"],se["minute_volume"]/se["volume1"],se["low2"]/se["close1"],\
    se["open2"]/se["low2"],se["recent"],se["minute"],se.nearby,se.wave,se.recent_high/se.high_limit2,se.top_count,se["volume_high"]/se["volume1"],se["volume_mean"]/se["volume1"],se["open2"]/se["close1"]

In [4]:
# indexs = ["000856.XSHE_2017-04-28"]
# output_df = pd.DataFrame(columns = ["change","volume1/0","volume2/1","lo2/close1","open2/low2","recent","minute","nearby","wave","recent_high/high2","top_count","recent_volume/volume1","volume_Mean/volume1","open2/close1"])
# for index in indexs:
#     output = get_date(index)
#     output_df.ix[index] = output
# output_df

In [7]:
valid_df

,change,close0,close1,close2,close3,day0,day1,day2,day3,gap_low,...,vol60,volume0,volume1,volume2,volume3,volume_high,volume_mean,wave,st,isnew
date,,,,,,,,,,,,,,,,,,,,,
2017-04-13 00:00:00,1.101205,3.86,3.77,4.15,4.21,1254.0,1255.0,1256.0,1257.0,3.17,...,0.100694,618339097.0,1.039914e+09,252297346.0,1.085082e+09,823266143.0,6.574503e+07,1,False,0.0
2017-06-07 00:00:00,1.064990,41.11,43.36,47.70,49.66,73.0,74.0,75.0,76.0,NaN,...,NaN,7249274.0,1.511965e+07,10756235.0,1.623708e+07,10725370.0,3.633643e+06,1,False,1.0