In [1]:
import pandas as pd
from utils import *
from constant import *

# 断续

In [44]:
valid_df = data_df
valid_df = valid_df[valid_df["volume1"] / valid_df["volume0"] > 1.2]
valid_df = valid_df[~yz0]
valid_df = valid_df[valid_df["last_recent"] > 2]
valid_df = valid_df[(valid_df["minute"] > "10:30:00")]

/Users/sgcy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

# 分歧一致

In [47]:
valid_df = data_df[data_df["volume1"] / data_df["volume0"] > 1.2]
valid_df = valid_df[yz0 & opentop1 & ~yz1 & top1 & ~opentop2]
valid_df = valid_df[(valid_df["minute"] > "10:30:00")]

/Users/sgcy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [50]:
valid_df = valid_df.sort_values("minute")
valid_df = valid_df.groupby("date").first()
result(valid_df)

Empty DataFrame
Columns: [mean, count]
Index: []
0.333333333333 3 0.980600594776

In [49]:
valid_df

,change,date,last_day,stock,close0,high0,high_limit0,low0,open0,volume0,...,nearby,wave,top_count,vol5,volume_mean,recent_high,volume_high,recent_low,st,isnew
000916.XSHE_2017-07-05,1.046512,2017-07-05 00:00:00,2017-07-04 00:00:00,000916.XSHE,7.11,7.11,7.11,7.11,7.11,6433502.0,...,NaN,0,1,0.100619,6.971244e+06,6.46,29323803.0,3.83,False,False
603200.XSHG_2017-06-13,0.899178,2017-06-13 00:00:00,2017-06-12 00:00:00,603200.XSHG,44.26,44.26,44.26,44.26,44.26,98404.0,...,NaN,0,1,0.100150,NaN,40.24,51200.0,24.98,False,True
603776.XSHG_2017-08-31,0.996112,2017-08-31 00:00:00,2017-08-30 00:00:00,603776.XSHG,82.89,82.89,82.89,82.89,82.89,178028.0,...,NaN,0,1,0.100066,NaN,75.35,328709.0,32.22,False,True

In [48]:
valid_df = valid_df[valid_df.index.isin(df.index) == False]

# 拟合出的因子

In [19]:
dfs = []
for filters in filterss:
    for filter_key in filters:
        to_filter = getFilter(filter_key) & ~yz2
        sub_df = data_df[to_filter]
        if len(sub_df) > 0:
            mean = sub_df.change.mean()
            win_df = sub_df[sub_df["change"] > 1.0]
            win_ratio = float(len(win_df))/len(sub_df)
            sub_df["filter"] = filter_key
            print filter_key,mean,win_ratio,len(sub_df)
#             print sub_df
            print "----"
            dfs.append(sub_df)
df = pd.concat(dfs)

/Users/sgcy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/sgcy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

small_volume2-yz0-~yz1-top1-opentop1 1.07984389812 1.0 2
----
jump2-~foot1-small_volume2-yz0-~opentop1-top1 1.08937153029 1.0 3
----
foot2-small_volume3-yz0-~opentop1-top1 0.977390075726 0.5 2
----
~foot1-speedup2-jump1-jump2-small_volume-yz0 1.04740354923 0.666666666667 3
----
~opentop2-jump1-jump2-small_volume-yz0 1.01680115994 0.6 5
----
~opentop2-~speedup1-small_volume-top1-opentop1 1.07984389812 1.0 2
----
~speedup1-~jump1-speedup2-~jump2-foot2-small_volume-top0 1.00247011492 0.666666666667 3
----
~speedup1-~jump1-jump2-~foot2-small_volume-top0-reachtop1-~isnew-~opentop2 0.988372093023 0.0 1
----
~speedup1-~speedup2-jump2-~foot1-~isnew-small_volume-top0-~opentop1-reachtop1 1.05708245243 1.0 1
----

In [3]:
df = df[~df.index.duplicated()] 
df = df.sort_values("minute")
df = df.groupby("date").first()
win_df = df[df["change"] > 1.0]
win_ratio = float(len(win_df))/len(df)
print df.change.mean(),win_ratio

1.02636613928 0.615384615385

In [24]:
df.head(3)

,change,date,last_day,stock,close0,high0,high_limit0,low0,open0,volume0,...,wave,top_count,vol5,volume_mean,recent_high,volume_high,recent_low,st,isnew,filter
002600.XSHE_2017-08-15,1.060044,2017-08-15 00:00:00,2017-08-14 00:00:00,002600.XSHE,7.57,7.57,7.57,7.57,7.57,6788526.0,...,0,1,0.100800,3.947593e+07,6.88,122896765.0,4.50,False,False,small_volume2-yz0-~yz1-top1-opentop1
300198.XSHE_2017-09-06,1.099644,2017-09-06 00:00:00,2017-09-05 00:00:00,300198.XSHE,6.96,6.96,6.96,6.96,6.96,1162500.0,...,0,1,0.100870,1.449597e+07,7.79,57085568.0,5.61,False,False,small_volume2-yz0-~yz1-top1-opentop1
002761.XSHE_2017-06-20,1.017061,2017-06-20 00:00:00,2017-06-19 00:00:00,002761.XSHE,30.03,30.03,30.03,30.03,30.03,713403.0,...,0,3,0.100233,1.469499e+06,64.94,9689654.0,27.30,False,False,jump2-~foot1-small_volume2-yz0-~opentop1-top1