In [1]:
import pandas as pd
from utils import *

In [2]:
valid_df = data_df[data_df["volume1"] / data_df["volume0"] > 1.3]
valid_df = valid_df[data_df["minute_volume"] / data_df["volume1"] < 0.65]
valid_df = valid_df[data_df["minute_volume"] / data_df["volume1"] > 0.3]
valid_df = valid_df[data_df["low2"] / data_df["close1"] < 1.1]
valid_df = valid_df[data_df["minute"] > "09:40:00"]
valid_df = valid_df[data_df["minute"] < "10:10:00"]

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [5]:
def get_date(name):
    se = valid_df.ix[name]
    print se["change"],se["volume1"]/se["volume0"],se["minute_volume"]/se["volume1"],se["low2"]/se["close1"],se["minute"],se.nearby,se.wave

In [6]:
get_date("601116.XSHG_2016-12-07")
get_date("601116.XSHG_2016-12-14")
get_date("601116.XSHG_2016-12-01")
get_date("002300.XSHE_2017-01-06")
get_date("002300.XSHE_2017-01-10")

1.09982014388 2.09528178743 0.355640870283 0.983179419525 09:44:00 7.0 1
1.03294367694 1.31202142485 0.624988521336 0.962590600888 10:07:00 12.0 2
0.971345665579 1.43781706506 0.303986534103 0.982043096568 09:42:00 7.0 1
1.05494505495 1.57106221689 0.376707666779 1.0088638195 09:43:00 0.0 0
0.902649414664 1.36339843603 0.485454615676 0.970847457627 09:42:00 3.0 1

In [7]:
valid_df = valid_df.sort_values("minute")
valid_df = valid_df.groupby("date").first()
result(valid_df)

            mean  count
recent
1.0     0.998064    247
2.0     1.006416    432
3.0     1.013035     56
4.0     1.029606     15
5.0     0.987180      8
6.0     1.119588      3
7.0     1.005628      3
8.0     0.991964      3
10.0    0.981265      2
14.0    1.002968      2
17.0    1.046127      2
0.541827541828 777 1.00491296165

In [8]:
valid_df.tail(3)

,change,last_day,stock,close0,high0,high_limit0,low0,open0,volume0,day0,...,recent,minute_low,minute_volume,minute,nearby,wave,top_count,st,circap,isnew
date,,,,,,,,,,,,,,,,,,,,,
2017-05-18 00:00:00,0.918459,2017-05-17 00:00:00,300407.XSHE,19.35,19.35,19.35,17.31,17.36,17079367.0,477.0,...,1.0,20.00,18282200.0,10:09:00,4.0,1,0,False,750.0,0.0
2017-05-19 00:00:00,0.931780,2017-05-18 00:00:00,300370.XSHE,5.58,5.58,5.58,5.58,5.58,6698387.0,712.0,...,1.0,5.51,20183000.0,09:41:00,2.0,1,0,False,801.0,0.0
2017-05-26 00:00:00,0.923037,2017-05-25 00:00:00,603126.XSHG,16.39,16.39,16.39,14.36,14.55,37759935.0,684.0,...,1.0,17.03,56267498.0,09:56:00,5.0,1,0,False,1376.0,0.0