In [1]:
import pandas as pd
from utils import *
from constant import *

In [2]:
dfs = []
for filters in filterss:
    for filter_key in filters:
        to_filter = getFilter(filter_key,True) & ~yz2
        sub_df = data_df[to_filter]
        if len(sub_df) > 0:
            print filter_key
        dfs.append(sub_df)
df = pd.concat(dfs)

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

~opentop2-small_volume-yz1-2
speedup1-speedup2-foot0-~foot2-~isnew-small_capq-small_volume-2
~opentop2-~speedup1-~jump1-speedup2-~foot0-foot1-~small_capq-small_volume-2
jump1-jump2-~foot0-~foot1-foot2-~small_capq-minute-~opentop1-3
~jump1-~foot1-~foot2-~small_capq-small_volume-3
~opentop2-jump1-jump2-~foot1-foot2-~small_capq-minute-~opentop1-3
~foot1-isnew-4
~opentop2-minute-small_volume-~yz1-top1-opentop1-4
~speedup1-jump1-~jump2-foot0-~foot1-small_capq-minute-small_volume-4
~opentop2-~speedup1-jump1-foot0-~foot1-minute-small_volume-4
~speedup1-small_capq-minute-small_volume-~yz1-top1-opentop1-4
~speedup1-foot0-minute-small_volume-~yz1-top1-opentop1-4
jump1-~speedup2-~foot1-minute-small_volume-yz0-4

In [3]:
df = df.sort_values("minute")
df = df.groupby("date").first()
win_df = df[df["change"] > 1.0]
win_ratio = float(len(win_df))/len(df)
print df.change.mean(),win_ratio

0.989273124189 0.5

In [4]:
df

,change,stock,close0,high0,high_limit0,low0,open0,volume0,day0,close1,...,open3,volume3,day3,recent,minute_low,minute_volume,minute,circap,isnew,capq
date,,,,,,,,,,,,,,,,,,,,,
2017-05-04 00:00:00,1.022820,603169.XSHG,10.14,10.23,11.53,9.95,10.23,8844761.0,0.0,11.15,...,12.55,44820020.0,3.0,2.0,12.08,0.0,09:30:00,1760.0,False,0.532849
2017-05-05 00:00:00,1.039953,600629.XSHG,21.10,21.30,23.40,20.72,21.01,8244148.0,1.0,23.21,...,26.55,31979454.0,4.0,2.0,23.91,4533700.0,09:32:00,2355.5,False,0.713140
2017-05-15 00:00:00,0.969032,002379.XSHE,7.03,7.40,7.77,7.03,7.05,32358186.0,7.0,7.38,...,7.51,22549404.0,10.0,2.0,7.56,4270600.0,09:37:00,1503.0,False,0.455041
2017-05-17 00:00:00,0.925287,600401.XSHG,1.58,1.58,1.58,1.49,1.50,115771436.0,8.0,1.66,...,1.61,79471748.0,11.0,3.0,1.70,20639800.0,09:33:00,2244.5,False,0.679534

In [5]:
df.change.cumprod()

date
2017-05-04 00:00:00    1.022820
2017-05-05 00:00:00    1.063685
2017-05-15 00:00:00    1.030745
2017-05-17 00:00:00    0.953735
Name: change, dtype: float64