In [1]:
import pandas as pd
from utils import *

In [105]:
valid_df = data_df
valid_df = valid_df[valid_df.vol5 > 0.06]
valid_df = valid_df[valid_df.vol5 < 0.07]
valid_df = valid_df[valid_df.wave > 1]
valid_df = valid_df[valid_df.recent == 1]

# valid_df = valid_df[valid_df["high_limit2"]/valid_df["open2"] > 1.08]
# valid_df = valid_df[valid_df["high_limit2"]/valid_df["open2"] < 1.07]
# valid_df = valid_df[valid_df.vol20 < 0.03]

In [106]:
valid_df = valid_df.sort_values("minute")
valid_df = valid_df.groupby("date").first()
result(valid_df)

            mean  count
recent
1.0     1.018148     12
0.666666666667 12 1.0181475988

In [84]:
def get_date(name):
    se = valid_df.ix[name]
    return se["change"],se["high_limit2"]/se["open2"],se["nearby"],se["wave"],se["vol5"],se["vol20"]

In [85]:
# indexs = ["000856.XSHE_2017-04-28"]
# output_df = pd.DataFrame(columns = ["change","high2/open2","nearby","wave","vol5","vol20"])
# for index in indexs:
#     output = get_date(index)
#     output_df.ix[index] = output
# output_df

In [90]:
valid_df

,change,last_day,stock,close0,high0,high_limit0,low0,open0,volume0,day0,...,volume_mean,last_recent,recent_low,recent_high_idx,gap_low,vol20,vol60,vol5,st,isnew
date,,,,,,,,,,,,,,,,,,,,,
2013-11-19 00:00:00,1.019599,2013-11-18 00:00:00,300191.XSHE,20.63,22.36,22.36,20.21,20.24,17997631.0,436.0,...,8.180037e+06,1.0,7.94,22.0,19.11,0.100418,0.100599,0.034641,False,0.0
2015-05-08 00:00:00,1.033537,2015-05-07 00:00:00,300018.XSHE,24.01,25.78,25.78,23.55,24.26,18692929.0,743.0,...,1.498867e+07,1.0,6.55,6.0,21.76,0.100364,0.101010,0.035354,False,0.0
2015-07-29 00:00:00,1.014950,2015-07-28 00:00:00,000838.XSHE,5.59,6.10,6.10,5.41,5.60,53911101.0,847.0,...,2.066213e+07,1.0,3.27,38.0,3.27,0.101313,0.101351,0.038261,False,0.0
2016-07-05 00:00:00,1.040442,2016-07-04 00:00:00,300410.XSHE,51.18,54.18,54.18,49.01,49.01,10679591.0,214.0,...,7.341206e+06,1.0,37.06,13.0,42.00,0.100025,0.100234,0.039188,False,0.0